<html>
<head>
	<body>
		{% for contest in contest %}
		<a href = "{% url 'problem' contest.id %}">{{contest.Name}}</a>
		<br></br>
		{% endfor %}


	<a href = "{% url 'create_contest' %}" ><button type="button" class="btn btn-primary">Create Contest</button></a>


	<a href = "{% url 'take_input' %}" ><button type="button" class="btn btn-primary">Submit</button></a>


	<a href = "{% url 'compile_test' %}" ><button type="button" class="btn btn-primary">Compile and Run</button></a>
	</body>
</head>
</html>