<html>
<head>
	<body>
		
		<p>  Problems</p>
		{% for question in  question %}
		<a href = "{% url 'question' contest.id question.id %}">{{question}}</a>
		<br></br>
		{% endfor %}

		<p> Solved Problems</p>
		{% for solved_problem in  my_set %}
		<a href = "#">{{solved_problem}}</a>
		<br></br>
		{% endfor %}
		
	{% if value == 1 %}	
	<a href = "{% url 'create_question' %}" ><button type="button" class="btn btn-primary">Create Question</button></a>
	{% endif %}

	<a href = "{% url 'ranking' contest.id %}" ><button type="button" class="btn btn-primary">Ranking</button></a>


	</body>
</head>
</html>