<html>
<head></head>
<body>
	<h1>{{question.contest}}<br></h1>
	{{question.Name}}<br>
	{{question.Prob_statement}}<br>
	{{question.sample_input}}<br>
	{{question.explanation}}<br>
	{{question.created_by}}<br>
	{{question.no_of_submission}}<br>
	{{question.created_by}}<br>


	{% if value == 1 %}	
	<a href = "{% url 'testcase' contest.pk question.pk %}" ><button type="button" class="btn btn-primary">Upload TestCase</button></a>
	{% endif %}

	{% if value == 1 %}	
	<a href = "{% url 'edit_question' contest.pk question.pk %}" ><button type="button" class="btn btn-primary">Edit Question</button></a>
	{% endif %}

	<a href = "{% url 'submit_contest' contest.pk question.pk %}" ><button type="button" class="btn btn-primary">Submit</button></a>

</body>
</html>